<mat-card>
  <h2>{{data.title}}</h2>
  <span class="price">Price: <strong>${{data.price}}</strong></span>
  <img class="product-image" mat-card-image [src]="data.image">
  <div class="container">
    <p style="text-align: justify;">{{data.description}}</p>
  </div>

  <div>
    <button mat-raised-button class="card-actions" color="warn" (click)="onCloseConfirm(data)">Add to Cart</button>
    <button mat-button class="card-actions" color="primary" (click)="onCloseCancel()">Cancel</button>
  </div>
</mat-card>
