<mat-toolbar>
  <img width="50" alt="ACME Logo" style="padding: 10px;" src="../assets/ACME_logo_200.png">
  <span> {{ title }} </span>
</mat-toolbar>

<mat-card>
  <button mat-raised-button color="primary" routerLink="/">Back to the Shop</button>
  <button mat-raised-button routerLink="/cart">View Cart <img style="width: 35px;" src="../assets/shoping-cart-icon.png"/></button>
  <button mat-raised-button style="float: right;" routerLink="/update-warehouse">Update Warehouse</button>
  <button mat-raised-button style="float: right;" routerLink="/create">Create New Product</button>
</mat-card>

<div>
  <router-outlet></router-outlet>
</div>
