<section class="products-list">
  <mat-card class="product-card" *ngFor="let product of products;">
    <mat-card-header class="header-container">
      <mat-card-title class="card-title">{{product.title}}</mat-card-title>
    </mat-card-header>

    <div class="image-container">
      <img class="product-image" mat-card-image [src]="product.image" (click)="openDialog(product);" alt="{{product.title}}">
    </div>
    <br>
    <mat-card-content class="card-container-right">
      <span class="price">Only ${{product.price}}</span>
    </mat-card-content>
    <br>
    <mat-card-actions class="button-wrapper" layout="row" layout-align="center center">
      <button mat-raised-button color="warn" (click)="openDialog(product);">Add to Cart</button>
    </mat-card-actions>
  </mat-card>
</section>
