h3 {
  text-align: center;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mat-cell {
  padding: 10px;
}

.mat-column-right {
  text-align: center;
}

.mat-column-description {
  max-width: 400px;
}

.mat-column-title,
.mat-column-image,
.mat-column-price,
.mat-column-actions,
.summary {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.thumbImg {
  border-radius: 10px;
  margin: 10px;
}
