<button mat-button routerLink="/">Back to the Shop</button>
<hr>
<button [routerLink]="['/list']">Products</button>
<button [routerLink]="['/cart']">Cart</button>
<br><br>


<p>You have {{itemsInCart.length}} items in your cart</p>
<div *ngFor="let item of itemsInCart">
  <div>

    {{item._id}}
    {{item.title}}
    {{item.price}}
  </div>
  <button class="remove-item" (click)="removeItem(item)">Remove</button>
</div>
<!-- <p>Total: {{getTotal() | async}}</p> -->



<router-outlet></router-outlet>
